body {
  margin-top: 20px;
  background-color: #f7f7ff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
    0 2px 6px 0 rgb(206 206 238 / 54%);
  /* min-height: 55vh; */
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.side-alert {
  position: fixed;
  left: 25vw;
  bottom: 0;
  width: 50vw;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.opacity-8 {
  opacity: 0.8;
}

.drag_over {
  border: 4px dashed #96c4ea;
  color: #96c4ea;
}
